test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.opsource.net/simpleapp" xmlns="http://www.opsource.net/simpleapp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="server">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MyServerName"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
